*{
    margin:0;
    padding:0;
}

.header_css{
    background-color:aqua;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.login_form{
    position: absolute; 
    text-align: center;
    width: 80%;
    height:80%;
    top:  0;                     
    bottom:  0;                  
    left:  0;                    
    right:  0;                  
    margin:  auto;    
    border-radius: 10px;  
}

.login_title{
    font-size:40px;
    margin-bottom:30px;
}

.login_for_link{
    font-size:13px;
}

.created_pre_account{
    font-size: 20px;
}

.product_list_form{
    max-width: 50%;
    text-align: center;
    margin:0 auto;
}

.image{
    width:20%;
    height:20%;
    display:inline;
}

.image_line{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
}

.one_image{
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 30%;
    margin-right: 0;
    border: solid black;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.background-white{
    background-color:white;
}

.background-gray{
    background-color: gray;
}

.images{
    flex-flow: row wrap;
    text-align: left;
    max-width: 50%;
}
